@import 'part:@sanity/base/theme/variables-style';

.root {
  background: white;
  min-height: 100vh;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: var(--medium-padding);
  padding-bottom: var(--extra-large-padding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--medium-padding);
}

.img {
  width: 100%;
  max-width: 100%;
}

.imgPlaceholder {
  background: var(--gray-lighter);
  display: flex;
  align-items: center;
  justify-content: center;

  @nest &:after {
    content: '';
    display: block;
    /* 10:6 aspect ratio */
    padding-top: 60%;
  }
}

.dialogImg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
